<h1>Faces home</h1>

<a href="/faces/new" class="btn btn-primary">Add a new face</a>

<div class="container">
  <ul class="row">
    <% faces.forEach((face) => { %>
      <li class="col-lg-4 col-md-6">

      <a href= "/faces/<%= face.id %>"><img class="image thumbnail" src="<%= face.image %>"></a>

      <h2><%= face.title %></h2>

      <p>Location: <%= face.location %></p>

      <p>Love: <% while(face.rating--) { %> &hearts; <% } %></p>

      <p>Added by: <%= face.createdBy.username %></p>

      <h5><a href= "/faces/<%= face.id %>/edit">Edit</a></h5>
          <form action="/faces/<%= face.id %>" method="POST">

        <input type="hidden" name="_method" value="DELETE"/>
        <button>Delete</button>
          </form>
      </li>
      <% }) %>
    </ul>
  </div>
