<main class="container faces-show">
  <div class="wrapper">
    <div class="row 1">
      <%# DISPLAY THE FACE %>
      <div class="show-face col-lg-7 col-md-7">
        <div class="faces-img" style="background-image: url('<%= face.image %>');"></div>
        <div class="row 2">
          <div class="show-face-details-1 col-lg-8 col-md-8">
            <h2 class="show"><%= face.title %></h2>
            <p class"show"><span class="pre">Location: </span><%= face.location %></p>
            <p class="show"><span class="pre">Added by: </span><%= face.createdBy.username %></p>
            <p class="show">
              <span class="pre">Joy: </span>
              <span class="hearts">
                <% while (face.rating--) { %>
                  &hearts;
                <% } %>
              </span>
            </p>
          </div>
          <%# EDIT/DELETE BUTTON IF USER CREATED FACE %>
          <div class="show-face-details-2 col-lg-4 col-md-4">
            <% if(locals.isAuthenticated && face.belongsTo(user)) { %>
              <a href="/faces/<%= face.id %>/edit"><button type="button" class="edit-button"><i class="fa fa-pencil" aria-hidden="true"></i></button></a>

              <form method="POST" action="/faces/<%= face.id %>">
                <input type="hidden" name="_method" value="DELETE">
                <button class="delete-button"><i class="fa fa-ban" aria-hidden="true"></i></button>
              </form>
            <% } %>
          </div>
        </div>
      </div>
      <div class="comments col-lg-5 col-md-5">
        <%# DISPLAY OPTION TO LEAVE COMMENT %>
        <div class="leave-comment">
          <% if(locals.isAuthenticated) { %>
            <section>
              <h4>Leave a comment</h4>
              <form method="POST" action="/faces/<%= face.id %>/comments">
                <textarea name="content" id="content" placeholder="Comment"></textarea>
                <button class="comment-button">Submit</button>
              </form>
            </section>
          <% } %>
        </div>
          <%# DISPLAY COMMENTS %>
        <div class="display-comments">
          <h4>Comments</h4>
          <ul>
            <% face.comments.forEach((comment) => { %>
              <li>
                <p><span class="username-comment"><i class="fa fa-quote-left" aria-hidden="true"></i><%= comment.content %></span></p>
                <p><span class="username-sig"><%= comment.createdBy.username %></span></p>
                <% if(locals.isAuthenticated && comment.belongsTo(user)) { %>
                  <form method="POST" action="/faces/<%= face.id %>/comments/<%= comment.id %>">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="delete-button"><i class="fa fa-ban" aria-hidden="true"></i></button>
                  </form>
                <% } %>
              </li>
            <% }) %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
